#index-body {
    margin: 0;
}

#index-main {
    background: url("../images/RagingWolfSunset.png");
    background-position: center;
    margin: 0;
    background-attachment: scroll;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#index-main-container {
    min-height: 700px;
    height: 80vh;
    background: rgba(35, 35, 35, 0.5);
    width: 100%;
    display: table;
}

.index-main-container-row {
    display: table-row;
}

#index-main-subcontainer1 {
    display: table-cell;
    vertical-align: middle;
    height: 80%;
}

#index-main-subcontainer2 {
    display: table-cell;
    vertical-align: bottom;
    height: 20%;
}

#index-main-container-bg {
    background: #26272B;
border-radius: 6px 6px 0px 0px;
display: block;
max-width: 692px;
margin: 0 auto;
text-align: center;
}

#index-form-h2 {
    font-size: 25px;
    color: white;
    margin: 15px auto 7px auto;
}

#index-form-p {
    font-size: 16px;
    color: #CECECE;
    margin: 0 auto 15px auto;
    max-width: 450px;
}

.search {
    height: auto;
}

#index-form {
    width: 100%;
    margin: 0 auto 20px auto;
    max-width: 430px;
}

.search input, .search button {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  .search input {
    border-radius: 6px 0 0 6px;
    width: 100%;
    height: 40px;
  }

  #index-form-input {
    flex: 1;
}

  #index-form-submit-btn {
  }

  
  .search button {
    border-radius: 0 6px 6px 0;
    margin-left: -5px;
    color: white;
    background-color:#161314;
    cursor: pointer;
    width: 55px;
    height: 40px;
  }

#index-col-logo {
    margin-bottom: 15px;
}

#index-img-logo {
    height: 100px;
}

#index-headline-h1 {
    color: white;
    margin-bottom: 15px;
}

#index-headline-p {
    color: white;
}

#index-button-group {
    font-size: 0;
    margin: 25px auto 0 auto;
    text-align: center;
    align-content: center;
}

#index-services-button {
    color: white;
    background: #231F20;
    border: none;
    border-radius: 6px 0px 0px 6px;
    height: 40px;
    font-size: 16px;
    padding: 0 25px;
}

#index-quote-button {
    color: white;
    background: #C4231C;
    border: none;
    border-radius: 0px 6px 6px 0px;
    height: 40px;
    font-size: 16px;
    padding: 0 25px;
}


/* Desktop Media Queries */

@media only screen and (min-width: 992px) {
    .row {
        margin: 0;
    }
    #index-main-subcontainer {
        padding: 0 5.2%;
    }
    #index-headline-row {
        max-width: 865px;
        margin: auto;
    }
    #index-col-logo {
        padding: 0;
        text-align: right;
        position: relative;
    }
    #index-img-logo {
        width: 240px;
        height: auto;
    }
    #index-col-headline {
        padding: 0 0 0 40px;
    }
    #index-headline-h1 {
        font-size: 40px;
    }
    #index-button-group {
        margin: 35px auto 0 auto;
    }
}